.skill-card{
    width: fit-content;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.skill-icon{
    font-size: 6rem;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    width: fit-content;
}
.skill-card__name{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: .3rem;

}